.container {
  position: relative;

  .whoami {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;

    span {
      color: #0f0;
    }
  }
}
