.hamburger {
  display: inline-block;
  cursor: pointer;

  div {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 8px;
  }

  &.change {
    .bar1 {
      transform: translate(0, 11px) rotate(-45deg);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      transform: translate(0, -11px) rotate(45deg);
    }
  }

  @media(min-width: 640px) {
    & {
      display: none;
    }
  }
}
