@use '../../styles/colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);

  h1 {
    font-size: 2.5rem;
    font-family: 'Alkatra', sans-serif;
    font-weight: 700;
  }

  nav {


    ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      .switcher {
        display: flex;
        align-items: center;
        gap: 4px;

        svg {
          width: 30px;
          height: 30px;
        }

        label {
          position: relative;
          display: inline-block;
          width: 40px;
          height: 24px;

          input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          span {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background: $blue-900;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 34px;

            &:before {
              position: absolute;
              content: "";
              height: 14px;
              width: 14px;
              left: 4px;
              bottom: 5px;
              background-color: white;
              -webkit-transition: .4s;
              transition: .4s;
              border-radius: 34px;
            }
          }
        }

        input:checked + span {
          background-color: $yellow-600;
        }

        input:focus + span {
          box-shadow: 0 0 1px $yellow-600;
        }

        input:checked + span:before {
          -ms-transform: translateX(26px);
          transform: translateX(18px);
        }
      }
    }

    li {
      vertical-align: middle;

      a {
        font-size: 1.25rem;
        text-decoration: none;
        transition: all 125ms ease-in-out;

        &:hover {
          color: $gray-300;
        }
      }
    }
  }
}
