@import "styles/variables";
@import "styles/mixins";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #424141 #2a2a2a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: #2a2a2a;
}

*::-webkit-scrollbar-thumb {
  background-color: #424141;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
}